<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Empresas</title>
    <link rel="stylesheet" href="/empresaestilos.css">
</head>
<body>
    <div class="container">
        <h1>Gestión de Empresas</h1>

        <a href="/" class="btn btn-primary">Cerrar Sesión</a>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Sector</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="empresa : ${empresas}">
                    <td th:text="${empresa.nombre}"></td>
                    <td th:text="${empresa.sector}"></td>
                    <td th:text="${empresa.direccion}"></td>
                    <td>
						<a th:href="@{/activos/empresa/{id}(id=${empresa.id})}">Ver activos</a>
                        <form th:action="@{/empresas/eliminar/{id}(id=${empresa.id})}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Eliminar esta empresa?');">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="/empresas/nueva" class="btn btn-primary">Añadir Empresa</a>
    </div>
</body>
</html>
